.youtube {
  colors: #D16E8D;
}

.articles {
  colors: #FFAC83;
}

.community {
  colors: #3F78C9;
}

.courses {
  colors: #49C4A3;
}

/*
Media Query Manager

Breakpoints : Screens         : nickname

0-600 px    : phone           : phone
600-900 px  : tablet-portrait : tab-port
900-1200 px : tablet-landscape: tab-land
1200-1800 px: normal becoz its desktop first method
1800px +    : Big Monitor     : big-screen

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
}

.crfff {
  color: white;
}

.pdlist {
  padding-left: 25px;
}

.mainmargin {
  margin-top: 12rem;
}

.btnSec {
  width: 256px;
  height: 72px;
}
.btnSec__link {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.cta {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cta__btn {
  width: 360px;
  height: 130px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}
@media (min-width: 56.25em) {
  .cta__btn {
    width: 704px;
  }
}
.cta__link {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 33px;
}

.nav {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.nav__content {
  width: 80%;
  margin: 0 auto;
  height: 16vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  width: 230px;
  height: 102px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 56.25em) {
  .nav__logo {
    width: 344px;
  }
}
.nav__logo--logo {
  width: 51px;
  height: 102px;
}
@media (min-width: 75em) {
  .nav__logo--logo {
    width: 102px;
  }
}
@media (min-width: 56.25em) {
  .nav__logo--logo {
    width: 70px;
  }
}
.nav__list {
  width: 523px;
  height: 44px;
  list-style: none;
  display: none;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 56.25em) {
  .nav__list {
    display: flex;
  }
}
.nav__item--link {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  /* identical to box height */
  color: #fff;
}

.intro {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-position: center;
  padding-top: 15rem;
  color: #fff;
}
@media (min-width: 56.25em) {
  .intro {
    background-attachment: fixed;
    padding-bottom: initial;
    padding-top: initial;
  }
}
.intro__content {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: initial;
}
@media (min-width: 56.25em) {
  .intro__content {
    flex-direction: row;
    justify-content: space-between;
  }
}
.intro__header {
  text-align: start;
  rotate: 0deg;
}
@media (min-width: 56.25em) {
  .intro__header {
    rotate: 90deg;
    text-align: center;
  }
}
.intro__text-box {
  width: 330px;
  height: 288px;
}
@media (min-width: 56.25em) {
  .intro__text-box {
    width: 528px;
  }
}

.nav-solutions {
  width: 100%;
}
.nav-solutions__content {
  width: 80%;
  margin: 0 auto;
  height: fit-content;
}
.nav-solutions__header {
  width: 100%;
  margin-bottom: 1rem;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 127px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.5s ease-in-out 0.1s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.card:hover {
  height: 415px;
}

.vwcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.vida {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-header {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 44px;
  /* identical to box height */
  color: #fff;
}
@media (min-width: 56.25em) {
  .logo-header {
    font-size: 32px;
  }
}

.logo-qoute {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 16px;
  color: #fff;
}
@media (min-width: 56.25em) {
  .logo-qoute {
    font-size: 12px;
  }
}

.header-land {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
}

.heading-about {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
}

.about-header {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
}

.sub-header-about {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
}

.p-normal {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

/*# sourceMappingURL=style.css.map */
