.nav {
 background-color: rgba(0, 0, 0, 0.7);
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 z-index: 1000;

 &__content {
  width: 80%;
  margin: 0 auto;
  height: 16vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 }

 &__logo {
  width: 230px;

  height: 102px;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include respond(tab-port) {
   width: 344px;
  }

  &--logo {
   width: 51px;
   height: 102px;

   @include respond(tab-land) {
    width: 102px;
   }

   @include respond(tab-port) {
    width: 70px;
   }
  }
 }
 &__list {
  width: 523px;
  height: 44px;
  list-style: none;
  display: none;

  justify-content: space-between;
  align-items: center;

  @include respond(tab-port) {
   display: flex;
  }
 }

 &__item {
  &--link {
   font-family: "Nunito";
   font-style: normal;
   font-weight: 600;
   font-size: 32px;
   line-height: 44px;

   /* identical to box height */

   color: #fff;
  }
 }
}

.intro {
 width: 100%;
 height: 100vh;
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: initial;
 background-position: center;
 padding-top: 15rem;

 //Gobal css
 color: #fff;

 @include respond(tab-port) {
  background-attachment: fixed;
  padding-bottom: initial;
  padding-top: initial;
 }

 &__content {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;

  align-items: center;

  flex-direction: column;
  justify-content: initial;

  @include respond(tab-port) {
   flex-direction: row;
   justify-content: space-between;
  }
 }

 &__header {
  text-align: start;
  rotate: 0deg;

  @include respond(tab-port) {
   rotate: 90deg;
   text-align: center;
  }
 }
 &__text-box {
  width: 330px;

  height: 288px;

  @include respond(tab-port) {
   width: 528px;
  }
 }
}

.nav-solutions {
 width: 100%;
 &__content {
  width: 80%;
  margin: 0 auto;
  height: fit-content;
 }

 &__header {
  width: 100%;
  margin-bottom: 1rem;
 }
}

.cards {
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
}

.card {
 width: 300px;
 height: 127px;
 border: 1px solid #000000;
 border-radius: 5px;
 margin-bottom: 1rem;
 padding-bottom: 50px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-end;
 transition: all 0.5s ease-in-out 0.1s;

 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;

 &:hover {
  height: 415px;
 }
}

.vwcard {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 5rem;
}
